<h2 class="text-center">New Manufacturer</h2>
<div class="col-sm-2">
  <%= link_to 'Back', manufacturers_path, class: 'btn btn-default' %>
</div>
<div class="col-sm-8">
  <%= form_for @manufacturer do |f| %>
      <div class="form-group">
        <%= f.label :manufacturer_name %>
        <%= f.text_field :manufacturer_name, autofocus: true, class: "form-control"  %>
      </div>

      <div class="actions">
        <%= f.submit 'Submit', class: 'btn-lg btn-info form-control' %>
      </div>
 <% end %>
</div>
