<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">Locations</h2>
    <%= link_to 'New Location', new_location_path, class: 'btn btn-primary pull-right' %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Location</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
        <tr>
          <td><%= location.location_name %></td>
          <td><%= location.location_address %></td>
          <td><%= location.location_city %></td>
          <td><%= location.location_state %></td>
          <td><%= location.location_zip %></td>
          <td><%= link_to 'Edit', edit_location_path(location) %> | <%= link_to 'Delete', location_path(location), method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
